
@{
    ViewData["Title"] = "Detalle";
}


<div class="page-content">

    <div class="slideshow mld-cell mdl-cell--12-col">
        <a href="http://www.aprendoaahorrar.com/sv" target="_blank" rel="noreferrer noopener">
            <img src="https://enlinea.crecer.com.sv/images/bannerAFP.png" alt="">
        </a>
    </div>
    <br>
    <h1 class="cl-page-title">Inicio </h1>
    <div class="mdl-grid cl-main-information-content">
        <div class="cl-main-information mld-cell mdl-cell--8-col">
            <div class="mdl-grid">
                <div class="cl-card-top mdl-cell mdl-cell--12-col">
                    <h1 class="cl-affiliate-information">Mi Información</h1>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="cl-profile-icon mdl-cell mdl-cell--2-col">
                    <img src="https://enlinea.crecer.com.sv/images/profile.png" alt="help">
                </div>
                <div class="mdl-cell mdl-cell--10-col">
                    <div class="mdl-grid">
                        <div class="cl-name cl-card-top mdl-cell mdl-cell--6-col">
                            <p><b>Nombre Completo:<br> </b> Rafael  Lopez Castro</p>
                        </div>
                        <div class="cl-nup cl-card-top mdl-cell mdl-cell--6-col">
                            <p><b>Nup:<br> </b> 236441350009</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-card__actions mdl-card--border-card"></div>
                <div class="cl-card-top mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet">
                    <div class="mdl-grid cl-info-card-dates">
                        <div class="mdl-cell mdl-cell--5-col">
                            <img src="https://enlinea.crecer.com.sv/images/adress.png" alt="help">
                        </div>
                        <div class="mdl-cell mdl-cell--7-col">
                            <p><b>Dirección: <br> </b> Colonia Llano Verde 1, Cl. Ppal. Pasaje 3 Casa 4</p>
                        </div>
                    </div>
                </div>
                <div class="cl-card-top mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet">
                    <div class="mdl-grid cl-info-card-dates">
                        <div class="mdl-cell mdl-cell--5-col">
                            <img src="https://enlinea.crecer.com.sv/images/city.png" alt="help">
                        </div>
                        <div class="mdl-cell mdl-cell--7-col">
                            <p><b>Ciudad: <br> </b> San Salvador - Ilopango</p>
                        </div>
                    </div>
                </div>
                <div class="cl-card-top mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet">
                    <div class="mdl-grid cl-info-card-dates">
                        <div class="mdl-cell mdl-cell--5-col">
                            <img src="https://enlinea.crecer.com.sv/images/personalPhone.png" alt="help">
                        </div>
                        <div class="mdl-cell mdl-cell--7-col">
                            <p><b>Teléfono Personal: <br> </b> (503) 22964367</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="cl-card-top mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet">
                    <div class="mdl-grid cl-info-card-dates">
                        <div class="mdl-cell mdl-cell--5-col">
                            <img src="https://enlinea.crecer.com.sv/images/JobPhone.png" alt="help">
                        </div>
                        <div class="mdl-cell mdl-cell--7-col">
                            <p><b>Teléfono Trabajo: <br> </b> </p>
                        </div>
                    </div>
                </div>
                <div class="cl-card-top mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet">
                    <div class="mdl-grid cl-info-card-dates">
                        <div class="mdl-cell mdl-cell--5-col">
                            <img src="https://enlinea.crecer.com.sv/images/Celphone.png" alt="help">
                        </div>
                        <div class="mdl-cell mdl-cell--7-col">
                            <p><b>Celular: <br> </b> 70195597</p>
                        </div>
                    </div>
                </div>
                <div class="cl-card-top mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet">
                    <div class="mdl-grid cl-info-card-dates">
                        <div class="mdl-cell mdl-cell--5-col">
                            <img src="https://enlinea.crecer.com.sv/images/email.png" alt="help">
                        </div>
                        <div class="mdl-cell mdl-cell--7-col">
                            <p><b>Email: <br> </b> franklingonz02@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cl-helper mld-cell mdl-cell--4-col mdl-cell--8-col-tablet">
            <div class="mdl-grid cl-tool-tip">
                <div class="cl-card-top mdl-cell mdl-cell--4-col mdl-cell--1-col-tablet">
                    <div class="cl-image-helper">
                        <img src="https://enlinea.crecer.com.sv/images/help.png" alt="help">
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--8-col mdl-cell--7-col-tablet">
                    <span>Recuerda que puedes hacer aportes voluntarios para que tu ahorro crezca más. Si tu saldo es más grande que tus cotizaciones es porque se invierte y gana rentabilidad</span>
                </div>
            </div>
        </div>
    </div>

    <div class="mdl-grid cl-saldos-consolidados">
        <div class="mdl-cell mdl-cell--12-col">
            <h1>Saldos consolidados</h1>
        </div>
        <div class="mdl-grid cl-saldos">
            <div class="mdl-cell mdl-cell--4-col cl-saldos-left mdl-cell--3-col-tablet">
                <img src="https://enlinea.crecer.com.sv/images/pension.png" alt="pensión">
                <h3>
                    Total <br> ahorrado <div id="tt2" class="icon material-icons" tabindex="0"></div>
                    <div class="mdl-tooltip mdl-tooltip--large" for="tt2" data-upgraded=",MaterialTooltip">
                        Total ahorrado = cotizaciones obligatorias + cotizaciones voluntarias + rentabilidad generada
                    </div>
                </h3>
                <p>$ 28,086.40</p>
            </div>
            <div class="mdl-cell mdl-cell--4-col cl-saldos-right mdl-cell--2-col-tablet">
                <img src="https://enlinea.crecer.com.sv/images/aportes-Obligatorios.png" alt="Aportes Obligatorios">
                <h3>Cotizaciones <br> Obligatorias</h3>
                <p><span>$ </span> 27,921.18</p>
            </div>
            <div class="mdl-cell mdl-cell--4-col cl-saldos-right mdl-cell--3-col-tablet">
                <img src="https://enlinea.crecer.com.sv/images/aportes-voluntarios.png" alt="Aportes Voluntarios">
                <h3>Cotizaciones <br> Voluntarias</h3>
                <p><span>$ </span> 165.22</p>
            </div>
        </div>
    </div>


</div>